{% extends 'base.html' %}
{% set title = 'Forbidden Access' %}

{% block body %}
    <div class="page-header">
        <h2>{{ title }}</h2>
    </div>
    <p>The page you requested cannot be shown.</p>
    <div class="linkbar">
        <span><a href="{{ url_for('index') }}">Go Home</a></span> 
        <span><a href="javascript:history.go(-1);">Go Back</a></span>
    </div>
{% endblock %}