{% extends 'base.html' %}
{% set title = 'Unexpected Error' %}

{% block body %}
    <div class="page-header">
        <h2>{{ title }}</h2>
    </div>
    <p>An unexpected error has occured. The administrator has been notified of this error.</p>
    <div class="linkbar">
        <span><a href="{{ url_for('index') }}">Go Home</a></span> 
        <span><a href="javascript:history.go(-1);">Go Back</a></span>
    </div>
{% endblock %}