{% extends 'base.html' %}
{% set title = 'Update Email' %}
{% import 'macros.html' as macros %}

{% block body %}
    <form class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Update Email</legend>
            {{ macros.control_group(form.email) }}
            {{ macros.control_group_button(form.submit) }}
        </fieldset>
    </form>
{% endblock %}