{% extends 'base.html' %}
{% set title = 'Update Host' %}
{% import 'macros.html' as macros %}

{% block body %}
    <form class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Update Host Machine Information</legend>
            {% if request.remote_addr %}
                <p class="control-group muted">
                    The IP address of your current host is <strong>{{ request.remote_addr }}</strong>
                </p>
            {% endif %}
            {{ macros.control_group(form.ip_address) }}
            {{ macros.control_group(form.mac_address) }}
            <div class="control-group">
                <div class="controls">
                    <p class="muted">
                        This machine will be subject to network regulation.
                        <br />
                        Read more in the <a href="{{ url_for('frontend.page', name='terms') }}">terms of service</a>.
                    </p>
                    {{ form.submit(class_='btn btn-primary') }}
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}