<div id="footer" class="container">
    <div class="linkbar pull-left">
        {% for page in frontend_pages %}
        <span>
            <a href="{{ url_for('frontend.page', name=page.name) }}">{{ page.name }}</a>
            {% if current_user.has_role('admin') %}
                <small class="muted"><a href="{{ url_for('page.edit_view', id=page.id) }}">edit</a></small>
            {% endif %}
        </span>
        {% endfor %}
    </div>
    <div class="linkbar pull-right">
        {% if current_experiment %}
            <span>
                <a href="{{ url_for('experiments.view_experiment', id=current_experiment.id) }}">{{ current_experiment.title|lower|truncate(20) }}</a>
                <small class="muted">ends {{ current_experiment.end_time|naturaltime }}</small>
            </span>
        {% endif %}
        {% if next_experiment %}
            <span>
                <a href="{{ url_for('experiments.view_experiment', id=next_experiment.id) }}">{{ next_experiment.title|lower|truncate(20) }}</a>
                <small class="muted">starts {{ next_experiment.start_time|naturaltime }}</small>
            </span>
        {% endif %}
        <span><small class="muted">&copy; {{ now.year }}</small></span>
    </div>
</div>