{% extends 'base.html' %}
{% set title = page.title %} 

{% block body %}
    {% if page.permanent and not page.content %}
        <h3>This page needs to be updated by a site administrator.</h3>
        {% if current_user.has_role('admin') %}
            <p>Click <a href="{{ url_for('page.edit_view', id=page.id) }}">here</a> to update this page.</p>
        {% endif %}
    {% else %}
        {{ page.content|safe }}
    {% endif %}
{% endblock %}