{% extends 'base.html' %}
{% set title = 'Change Password' %}
{% import 'macros.html' as macros %}

{% block body %}
    <form class="form-horizontal" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <fieldset>
            <legend>Change Password</legend>
	        {{ macros.control_group(change_password_form.password) }}
	        {{ macros.control_group(change_password_form.new_password) }}
	        {{ macros.control_group(change_password_form.new_password_confirm) }}
	        {{ macros.control_group_button(change_password_form.submit) }}
        </fieldset>
	</form>
{% endblock %}