{% extends 'base.html' %}
{% set title = 'Forgot Password' %}
{% import 'macros.html' as macros %}

{% block body %}
	<form class="form-horizontal" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
        {{ forgot_password_form.hidden_tag() }}
        <fieldset>
            <legend>Send Password Instructions</legend>
            {{ macros.control_group(forgot_password_form.email) }}
            {{ macros.control_group_button(forgot_password_form.submit) }}
        </fieldset>
	</form>
	{% include 'security/menu.html' %}
{% endblock %}