{% extends 'base.html' %}
{% set title = 'Login' %}
{% import 'macros.html' as macros %}

{% block body %}
	<form class="form-horizontal" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        {{ login_user_form.next() }}
        <fieldset>
            <legend>Login</legend>
            {{ macros.control_group(login_user_form.email) }}
            {{ macros.control_group(login_user_form.password) }}
            {{ macros.control_group(login_user_form.remember) }}
            {{ macros.control_group_button(login_user_form.submit) }}
        </fieldset>
    </form>
	{% include 'security/menu.html' %}
{% endblock %}