{% if security.registerable or security.recoverable or security.confirmabled %}
<div class="linkbar">
    {% if request.path != url_for_security('login') %}
        <span><a href="{{ url_for_security('login') }}">Login</a></span>
	{% endif %}
	{% if security.registerable and request.path != url_for_security('register') %}
        <span><a href="{{ url_for_security('register') }}">Register</a></span>
	{% endif %}
	{% if security.recoverable and request.path != url_for_security('forgot_password') %}
        <span><a href="{{ url_for_security('forgot_password') }}">Forgot Password</a></span>
	{% endif %}
	{% if security.confirmable and request.path != url_for_security('send_confirmation') %}
        <span><a href="{{ url_for_security('send_confirmation') }}">Confirm Account</a></span>
	{% endif %}
</div>
{% endif %}