{% extends 'base.html' %}
{% set title = 'Register' %}
{% import 'macros.html' as macros %}

{% block body %}
    <form class="form-horizontal" action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        <fieldset>
            <legend>Register</legend>
            {{ macros.control_group(register_user_form.email) }}
            {{ macros.control_group(register_user_form.password) }}
            {% if register_user_form.password_confirm %}
                {{ macros.control_group(register_user_form.password_confirm) }}
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    <p class="muted">
                        By creating an account, you agree to our
                        <a href="{{ url_for('frontend.page', name='terms') }}">terms of service</a>
                        and consent to our
                        <a href="{{ url_for('frontend.page', name='privacy') }}">privacy policy</a>.
                    </p>
                    {{ register_user_form.submit(class_='btn btn-primary') }}
                </div>
            </div>
        </fieldset>
    </form>
    {% include 'security/menu.html' %}
{% endblock %}