{% extends 'base.html' %}
{% set title = 'Reset Password' %}
{% import 'macros.html' as macros %}

{% block body %}
	<form class="form-horizontal" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
        {{ reset_password_form.hidden_tag() }}
        <fieldset>
            <legend>Reset Password</legend>
            {{ macros.control_group(reset_password_form.password) }}
            {{ macros.control_group(reset_password_form.password_confirm) }}
            {{ macros.control_group_button(reset_password_form.submit) }}
        </fieldset>
	</form>
    {% include 'security/menu.html' %}
{% endblock %}