html,
body {
    height: 100%;
}

body {
	padding-top: 0;
}

table {
	table-layout: fixed;
}

table th,
table td {
	word-wrap: break-word;
}

.table th,
.table td {
	text-align: center;
}

.linkbar * {
	vertical-align: baseline;
}

.linkbar span:after {
	color: #ccc;
    content: ' / ';
}

.linkbar span:last-child:after {
	display: none;
}

.description {
	background: #f5f5f5;
	border: 1px solid #ccc;
	margin: 20px 0;
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
}

.item {
    border: 1px solid #ccc;
    margin: 20px 0;
    padding: 10px;
}

#calendar .past,
#calendar .current,
#calendar .future {
	border-color: #555 !important;
	color: #000 !important;
}

#calendar .past {
	background-color: #e0e0e0 !important;
}

#calendar .current {
	background-color: #ff4040 !important;
}

#calendar .future {
	background-color: #4671d5 !important;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px;
}

#body {
    margin-top: 41px;
    padding: 30px 0 60px;
}

#push {
    height: 40px; /* Height of footer */
}

#footer {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

#footer .linkbar a {
	font-variant: small-caps;
}

#footer small a{
	color: #999;
}

#surveys .item .description {
	margin: 10px 0;
    max-height: 100px;
}

#surveys .item .question {
	display: block;
	margin-bottom: 10px;
}

#surveys .item form {
	display: inline;
}

#surveys .item form input {
	margin: 0;
	padding: 0;
}

#surveys .chart {
    margin: 0 auto;
    margin: 15px auto;
    width: 100%;
}

#configurations i {
	display: block;
	margin: 0 auto;
}

#configurations .item pre {
	margin: 0;
}

@media (max-width: 767px) {
    #footer {
        text-align: center;
    }
    #footer .pull-left,
    #footer .pull-right {
        float: none;
    }
}