<p>
    The following errors were found with an upcoming experiment
    - <strong>{{ experiment.title }}</strong>
</p>

<ul>
    {% if 'invalid-surveys' in errors %}
        <li>One or more surveys require more options.</li>
    {% endif %}
    {% if 'invalid-configurations' %}
        <li>One or more configuration files failed to render correctly.</li>
    {% endif %}
    {% if 'invalid-configuration-order' in errors %}
        <li>The configuration order cannot be determined.</li>
    {% endif %}
</ul>

<p>
    Click <a href="{{ url_for('experiments.view_experiment', id=experiment.id, _external=True) }}">here</a>
    to view and correct these error(s).
</p>