<p>
    You have not completed all surveys for the next experiment
    - <strong>{{ experiment.title }}</strong>
</p>

<p>
    Click <a href="{{ url_for('experiments.view_experiment', id=trial.id, _external=True) }}">here</a>
    to view and complete the surveys.
</p>