<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <base href="{{ request.host_url }}" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% block meta %}{% endblock %}
        <title>{% if title %}{{ title }} - {% endif %}Click Admin</title>
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/common.css') }}" type="text/css" rel="stylesheet" />
        {% block styles %}{% endblock %}
        <script type="text/javascript">HOST_URL = {{ request.host_url|tojson }};</script>
        <script src="{{ url_for('static', filename='vendor/modernizr.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div id="wrapper" class="container">
            <div id="header" class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <span class="brand">Click Admin</span>
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li><a href="{{ url_for('index') }}">Home</a></li>
                            </ul>
                            <ul class="nav pull-right">
                                {% if current_user.is_authenticated() %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{ current_user.email }}
                                        -
                                        {{ current_user.ip_address or 'no ip address' }}
                                        -
                                        {{ current_user.mac_address or 'no mac address' }}
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('users.update_host') }}">Change Host</a></li>
                                        <li><a href="{{ url_for('users.update_email') }}">Change Email</a></li>
                                        <li><a href="{{ url_for_security('change_password') }}">Change Password</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ url_for('security.logout') }}">Log Out</a></li>
                                        {% if current_user.has_role('admin') %}
                                            <li class="divider"></li>
                                            <li><a href="{{ url_for('admin.index') }}">Admin Section</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="{{ url_for('security.login') }}">Log In</a></li>
                                <li><a href="{{ url_for('security.register') }}">Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
	        <div id="body">
                {% with messages = get_flashed_messages(with_categories=True) %}
			        {% if messages %}
			            {% for category, m in messages %}
			                <div class="alert alert-block alert-{{ category }}">
                                <a href="javascript:void(0)" class="close" data-dismiss="alert">x</a>
			                    {{ m }}
			                </div>
			            {% endfor %}
			        {% endif %}
			    {% endwith %}
                {% block body %}{% endblock %}
            </div>
            <div id="push"><!--//--></div>
        </div>
        {% include 'includes/footer.html' %}
        <script src="{{ url_for('static', filename='vendor/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/common.js') }}" type="text/javascript"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>