{% macro control_group(field) %}
    {% set description_parts = [field.label.text, field.description] if field.description else [field.label.text] %}
    <div class="control-group {{ 'error' if field.errors }}" title="{{ ' - '.join(description_parts) }}">
        {{ field.label(class='control-label') }}
        <div class="controls">
            {{ field(**kwargs)|safe }}
            {% if field.errors %}
                <span class="help-block">{{ field.errors.pop() }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro control_group_button(button) %}
    <div class="control-group">
        <div class="controls">
            {{ button(class_='btn btn-primary') }}
        </div>
    </div>
{% endmacro %}

{% macro calendar(experiments, url_endpoint=None, default_view='month') %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                theme: true,
                allDayDefault: false,
                allDaySlot: false,
                slotMinutes: 60,
                defaultView: {{ default_view|tojson|safe }},

                header: {
                    left: 'month,agendaWeek,agendaDay',
                    center: 'title',
                    right: 'today prev,next'
                },

                titleFormat: {
                    month: 'MMMM yyyy',
                    week: 'MMM d[ yyyy]{ - [ MMM] d yyyy}',
                    day: 'MMM d, yyyy'
                },

                eventMouseover: function (event, jsEvent, view) {
                	var classes = $(this).attr('class');
                	var parts = classes.match(/(past|future|current)/);
                	$(this).attr('title', parts[0] + ' experiment');
                },

                events: [
                {% for experiment in experiments %}
                    {
                        id: {{ experiment.id }},
                        title: {{ experiment.title|tojson|safe }},
                        start: {{ experiment.start_time|datetimeformat|tojson|safe }},
                        end: {{ experiment.end_time|datetimeformat|tojson|safe }},
                        {% if url_endpoint %}
                        url: {{ url_for(url_endpoint, id=experiment.id)|tojson|safe }},
                        {% endif %}
                        className: {{ ('past' if experiment.is_past() else 'future' if experiment.is_future() else 'current')|tojson|safe }}
                    }{{ ',' if not loop.last }}
                {% endfor %}
                ]
            });
        });
    </script>
{% endmacro %}

{% macro calendar_styles() %}
    <link href="{{ url_for('static', filename='vendor/fullcalendar/cupertino/theme.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/fullcalendar/fullcalendar.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/fullcalendar/fullcalendar.print.css') }}" type="text/css" rel="stylesheet" />
{% endmacro %}

{% macro calendar_scripts() %}
    <script src="{{ url_for('static', filename='vendor/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
{% endmacro %}

{% macro chart(survey) %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#survey-{{ survey.id }} .chart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: {{ survey.question|tojson|safe }}
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Number of users',
                    data: [
                    {% for option in survey.options %}
                        [
                            {{ option.response|tojson|safe }},
                            {{ option.consenting_users_count }}
                        ]{{ ',' if not loop.last }}
                    {% endfor %}
                    ]
                }]
            });
            $('#survey-{{ survey.id }} .open').click(function() {
                $('#survey-{{ survey.id }} .chart').slideToggle('slow');
            });
            $('#survey-{{ survey.id }} .chart').hide();
        });
    </script>
{% endmacro %}

{% macro chart_scripts() %}
    <script src="{{ url_for('static', filename='vendor/highcharts/js/highcharts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendor/highcharts/js/modules/exporting.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='vendor/highcharts/js/themes/grid.js') }}" type="text/javascript"></script>
{% endmacro %}