{% extends 'base.html' %}
{% set title = survey.question %}
{% import 'macros.html' as macros %}

{% block body %}
    <form class="form-horizontal" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ survey.question }}</legend>
            {{ macros.control_group(form.option_id) }}
            {{ macros.control_group_button(form.submit) }}
        </fieldset>
    </form>
{% endblock %}