{% extends 'base.html' %}
{% set title = experiment.title %}
{% import 'macros.html' as macros %}

{% block body %}
    {% set format = '%b %d, %I:%M %p' %}
    <div id="experiment" class="well">
        <h3>{{ experiment.title }}</h3>
        <p>
            {% if experiment.is_scheduled() %}
                {{ experiment.start_time|datetimeformat(format) }}
                <strong>to</strong>
                {{ experiment.end_time|datetimeformat(format) }}
                {% if experiment.is_future() and current_user.has_role('admin') %}
                    - <a href="{{ url_for('experiment.edit_view', id=experiment.id) }}">change start time</a>
                {% endif %}
            {% else %}
                No start time set
                {% if experiment.is_future() and current_user.has_role('admin') %}
                    - <a href="{{ url_for('experiment.edit_view', id=experiment.id) }}">set start time</a>
                {% endif %}
            {% endif %}
        </p>
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs">
	        <li class="active"><a href="#description">Description</a></li>
	        <li><a href="#surveys">Surveys</a></li>
	        <li><a href="#configurations">Configurations</a></li>
	    </ul>
	    <div class="tab-content">
	       <div class="tab-pane active" id="description">
                {% if experiment.description %}
                    <div class="description">
                        {{ experiment.description|safe }}
                    </div>
                {% else %}
                    <p class="alert">No description.</p>
                {% endif %}
                {% if experiment.is_future() and current_user.has_role('admin') %}
                    <a class="btn btn-small btn-primary" href="{{ url_for('experiment.edit_view', id=experiment.id) }}">Edit Description</a>
                {% endif %}
            </div>
            <div class="tab-pane" id="surveys">
                {% if current_user.is_authenticated() and not current_user.has_answered_all_surveys(experiment) %}
                    <p class="alert">You have not answered all survey questions.</p>
                {% endif %}
                {% for survey in experiment.surveys %}
                    <div id="survey-{{ survey.id }}" class="item">
                        <strong class="question">{{ survey.question }}</strong>
                        {% if survey.description %}
                            <div class="description">{{ survey.description|safe }}</div>
                        {% endif %}
                        {% if current_user.is_authenticated() %}
                            <div class="linkbar">
                                {% if survey.is_valid() %}
                                    {% for option in survey.options %}
                                        <span>
                                           {% if current_user.is_authenticated() %}
                                               {% if current_user.has_consented_to_option(option) %}
                                                   <strong>{{ option.response }}</strong>
                                               {% elif experiment.is_future() %}
                                                   <form method="post" action="{{ url_for('experiments.answer_survey', eid=experiment.id, sid=survey.id) }}">
                                                       <input type="hidden" name="option_id" value="{{ option.id }}" />
                                                       <input class="btn-link" type="submit" name="submit" value="{{ option.response }}" />
                                                   </form>
                                               {% else %}
                                                   {{ option.response }}
                                               {% endif %}
                                           {% else %}
                                               {{ option.response }}
                                           {% endif %}
                                       </span>
                                    {% endfor %}
                                {% else %}
                                    <span>Not enough options.</span>
                                {% endif %}
                                {% if experiment.is_future() and current_user.has_role('admin') %}
                                    <span><a class="btn btn-mini btn-primary" href="{{ url_for('option.create_view') }}">Add Option</a></span>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% if survey.is_valid() %}
                            <div class="chart"></div>
                            <div class="text-center">
                                <a class="btn btn-small btn-secondary open">view chart</a>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="alert">No surveys.</p>
                {% endfor %}
                {% if experiment.is_future() and current_user.has_role('admin') %}
                    <a class="btn btn-small btn-primary" href="{{ url_for('survey.create_view') }}">Add Survey</a>
                {% endif %}
            </div>
            <div class="tab-pane" id="configurations">
                <p><strong>Total Duration: </strong> {{ experiment.duration|naturaldelta }}</p>
                {% if experiment.has_valid_configuration_order() %}
	                {% for configuration in experiment.ordered_configurations %}
	                    <div id="configuration-{{ configuration.id }}" class="item">
	                        <p>
                                <strong>Duration: </strong> {{ configuration.duration|naturaldelta }}
                                {% if experiment.is_future() and current_user.has_role('admin') %}
                                    -
                                    <a href="{{ url_for('configuration.edit_view', id=configuration.id) }}">edit</a>
                                {% endif %}
                            </p>
	                        {% if configuration.is_valid() %}
                                <pre>{{ configuration.render() }}</pre>
                            {% else %}
                                <p class="alert alert-error">Error rendering configuration.</p>
                            {% endif %}
	                    </div>
	                    {% if not loop.last %}
	                        <i class="icon-arrow-down"></i>
	                    {% endif %}
	                {% else %}
	                    <p class="alert">No configurations.</p>
	                {% endfor %}
                {% else %}
                    <p class="alert alert-error">
                        Cannot determine configuration order.
                        {% if experiment.is_future() and current_user.has_role('admin') %}
                            <a href="{{ url_for('configuration.index_view') }}">Fix this.</a>
                        {% endif %}
                    </p>
                {% endif %}
                {% if experiment.is_future() and current_user.has_role('admin') %}
                    <a class="btn btn-small btn-primary" href="{{ url_for('configuration.create_view') }}">Add Configuration</a>
                {% endif %}
            </div>
	    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ macros.chart_scripts() }}
    {% for survey in experiment.surveys %}
        {% if survey.is_valid() %}
            {{ macros.chart(survey) }}
        {% endif %}
    {% endfor %}
{% endblock %}