{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='vendor/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        CKEDITOR.replace('text', { startupMode : 'source' } );
    </script>
{% endblock %}