{% extends admin_base_template %}

{% block page_body %}
	<div id="wrapper" class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    {% block brand %}
                        <span class="brand">{{ admin_view.admin.name }}</span>
	                {% endblock %}
	                <div class="nav-collapse collapse">
		                {% block main_menu %}
	                        <ul class="nav">
	                            {{ layout.menu() }}
	                        </ul>
		                {% endblock %}
		                {% block menu_links %}
	                        <ul class="nav pull-right">
	                            {{ layout.menu_links() }}
	                        </ul>
		                {% endblock %}
	                </div>
	                {% block access_control %}
	                {% endblock %}
                </div>
            </div>
        </div>
        <div id="body">
            {{ layout.messages() }}
            {% block body %}{% endblock %}
        </div>
        <div id="push"><!--//--></div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/common.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/common.js') }}" type="text/javascript"></script>
{% endblock %}